<div>
  <h2 id="page-heading" data-cy="TaskInstanceHeading">
    <span jhiTranslate="todoApp.taskInstance.home.title">Task Instances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="todoApp.taskInstance.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-task-instance"
        [routerLink]="['/task-instance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="todoApp.taskInstance.home.createLabel"> Create a new Task Instance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taskInstances?.length === 0">
    <span jhiTranslate="todoApp.taskInstance.home.notFound">No taskInstances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taskInstances && taskInstances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="todoApp.taskInstance.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span jhiTranslate="todoApp.taskInstance.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="desc"><span jhiTranslate="todoApp.taskInstance.desc">Desc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="todoApp.taskInstance.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="plannedStartDate">
            <span jhiTranslate="todoApp.taskInstance.plannedStartDate">Planned Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="plannedEndDate">
            <span jhiTranslate="todoApp.taskInstance.plannedEndDate">Planned End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actualStartDate">
            <span jhiTranslate="todoApp.taskInstance.actualStartDate">Actual Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actualEndDate">
            <span jhiTranslate="todoApp.taskInstance.actualEndDate">Actual End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="timeSpent">
            <span jhiTranslate="todoApp.taskInstance.timeSpent">Time Spent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="todoApp.taskInstance.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="todoApp.taskInstance.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="task.id">
            <span jhiTranslate="todoApp.taskInstance.task">Task</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="todo.id">
            <span jhiTranslate="todoApp.taskInstance.todo">Todo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="todoApp.taskInstance.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taskInstance of taskInstances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/task-instance', taskInstance.id, 'view']">{{ taskInstance.id }}</a>
          </td>
          <td>{{ taskInstance.name }}</td>
          <td>{{ taskInstance.type }}</td>
          <td>{{ taskInstance.desc }}</td>
          <td jhiTranslate="{{ 'todoApp.TaskStatus.' + taskInstance.status }}">{{ taskInstance.status }}</td>
          <td>{{ taskInstance.plannedStartDate | formatMediumDatetime }}</td>
          <td>{{ taskInstance.plannedEndDate | formatMediumDatetime }}</td>
          <td>{{ taskInstance.actualStartDate | formatMediumDatetime }}</td>
          <td>{{ taskInstance.actualEndDate | formatMediumDatetime }}</td>
          <td>{{ taskInstance.timeSpent }}</td>
          <td>{{ taskInstance.active }}</td>
          <td>{{ taskInstance.version }}</td>
          <td>
            <div *ngIf="taskInstance.task">
              <a [routerLink]="['/task', taskInstance.task?.id, 'view']">{{ taskInstance.task?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="taskInstance.todo">
              <a [routerLink]="['/todo', taskInstance.todo?.id, 'view']">{{ taskInstance.todo?.id }}</a>
            </div>
          </td>
          <td>
            {{ taskInstance.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/task-instance', taskInstance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/task-instance', taskInstance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taskInstance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="taskInstances && taskInstances.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
